/*Custom fonts*/
@font-face{
	font-family: "Copperplate Gothic";
	src: url('../fonts/copperplate_gothic.ttf');
}

@font-face{
	font-family: "Bookman Old";
	src: url('../fonts/bookman_old.ttf');
}

/*Decorative Section Break Bars*/
.bar1{
	width: 1040px;
	height: 34px;
	background-image: url(../img/ribbon.png);
	float: left;
	margin-bottom: 16px;
	margin-left: -8px;
}

.bar2{
	width: 1040px;
	height: 34px;
	background-image: url(../img/ribbon2.png);
	float: left;
	margin-top: -24px;
	margin-left: -8px;
}

/*Universals*/
div#container.top{
	margin-top: 0px;
}

div#container div#content.top{
	padding-top: 20px;
}

html, body{
	min-width: 100%;
	min-height: 100%;
	color: #ffffff;
	background-color: #000000;
	background-image: url('../img/bg2.png');
}

/*Header with background gradient*/
div#header{
	width: 100%;
	height: 180px;
	
	/*Background gradient*/
	background: rgb(0,0,0);
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(46,46,46,1) 75%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(75%,rgba(46,46,46,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(46,46,46,1) 75%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(46,46,46,1) 75%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(46,46,46,1) 75%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(46,46,46,1) 75%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}

/*Inner city backdrop div for overlay over background gradient*/
div#header div#backdrop{
	width: 100%;
	height: 100%;

	background-image: url("../img/city.png");
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: 0 35;
}

/*Visual navigational bar*/
div#header div#backdrop div#navibar{
	width: 100%;
	position: relative;
	top: 150px;
	
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #464646;
	
	/*Background gradient*/
	background: #5e5e5e;
	background: -moz-linear-gradient(top,  #5e5e5e 0%, #363636 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#363636));
	background: -webkit-linear-gradient(top,  #5e5e5e 0%,#363636 100%);
	background: -o-linear-gradient(top,  #5e5e5e 0%,#363636 100%);
	background: -ms-linear-gradient(top,  #5e5e5e 0%,#363636 100%);
	background: linear-gradient(to bottom,  #5e5e5e 0%,#363636 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#363636',GradientType=0 );
}

/*Actual navigational bar contained in 1024*/
div#header div#backdrop div#navibar div#navi{
	width: 1024px;
	height: 30px;
	
	font-family: "Copperplate Gothic", serif;
	font-size: 18px;
	
	margin: auto;
}

div#header div#backdrop div#navibar div#navi a{
	color: #ffffff;
	text-decoration: none;
}

/*Hover and Active States*/
div#header div#backdrop div#navibar div#navi a:hover{
	color: #bb201c;
}

div#header div#backdrop div#navibar div#navi a.active{
	text-decoration: underline;
}

div#header div#backdrop div#navibar div#navi a.active:hover{
	color: #ffffff;
	text-decoration: underline;
}

div#header div#backdrop div#navibar div#navi div#logo{
	width: 100%;
	text-align: center;
	position: relative;
	top: -100px;
}

div#header div#backdrop div#navibar div#navi ul{
	position: relative;
	top: -116px;
}

/*Left-side pre-logo navigational links*/
div#header div#backdrop div#navibar div#navi ul#left{
	float: left;
	margin-left: 10px;
}

div#header div#backdrop div#navibar div#navi ul#left li{
	float: left;
	margin-right: 70px;
}

/*Right-side post-logo navigational links*/
div#header div#backdrop div#navibar div#navi ul#right{
	float: right;
	margin-right: 10px;
}

div#header div#backdrop div#navibar div#navi ul#right li{
	float: left;
	margin-left: 50px;
}

/*Body content*/
div#container{
	width: 1024px;
	margin: auto;
	margin-top: -20px;

	background-color: #101010;
	border-left: 1px solid #080808;
	border-right: 1px solid #080808;
}

/*Home Page Featured Image*/
div#container div#featured{
	width: 980px;
	height: 300px;
	float: left;
	margin: 20px;
	margin-top: 40px;
	
	background-color: #ffffff;
	background-image: url('../img/featured.png');
}

div#container div#featured div.overlay{
	background: rgb(0, 0, 0); /* The Fallback */
	background: rgba(0, 0, 0, 0.4);
	width: 320px;
	float: left;
	margin: 20px;
}

div#container div#featured div.overlay h1{
	font-family: "Copperplate Gothic", serif;
	font-size: 19px;
	
	margin: 15px;
	margin-top: 20px;
}

div#container div#featured div.overlay p{
	font-family: "Bookman Old", serif;
	font-size: 18px;
	word-spacing: 5px;
	line-height: 22px;
	margin: 15px;
	margin-top: 10px;
}

/*Bio Page Character Slides*/
div#container div#slides{
	width: 980px;
	height: 300px;
	float: left;
	margin: 20px;
	margin-top: 40px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: #464646;
}

div#container div#slides div.slide{
	width: 860px;
	height: 300px;
	position: absolute;

	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #464646;
}

div#container div#slides div.slide div.overlay{
	background: rgb(0, 0, 0); /* The Fallback */
	background: rgba(0, 0, 0, 0.75);
	width: 420px;
	float: left;
	margin: 20px;
}

div#container div#slides div.slide div.overlay.right{
	float: right;
}

div#container div#slides div.slide div.overlay.bottom{
	margin-top: 110px;
}

div#container div#slides div.slide div.overlay h1{
	font-family: "Copperplate Gothic", serif;
	font-size: 24px;
	
	margin: 15px;
	margin-top: 20px;
}

div#container div#slides div.slide div.overlay p{
	font-family: "Bookman Old", serif;
	font-size: 14px;
	line-height: 22px;
	margin: 15px;
	margin-top: 10px;
}


div#container div#slides div#char_1.slide{
	z-index: 4;
	background-image: url('../img/bios/theshadow.png');
}

div#container div#slides div#char_2.slide{
	z-index: 3;
	background-image: url('../img/bios/shiwan.png');
}

div#container div#slides div#char_3.slide{
	z-index: 2;
	background-image: url('../img/bios/thewasp.png');	
}

div#container div#slides div#char_4.slide{
	z-index: 1;
	background-image: url('../img/bios/death.png');
}

div#container div#slides div.slide .button{
	width: 40px;
	height: 300px;
	
	float: right;
}

div#container div#slides div.slide .button a{
	width: 40px;
	height: 300px;
	
	float: right;
	display: block;
}

/*Gallery*/
div#container div#gallery{
	width: 980px;
	height: 300px;
	float: left;
	margin: 20px;
	margin-top: 40px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	
	background-color: #464646;
	
	border-width: 1px;
	border-style: solid;
	border-color: #464646;
}

div#container div#gallery a{
	text-decoration: none;
}


div#container div#gallery img{
	width: 140px;
	height: 200px;

	margin-top: 45px;
	margin-left: 40px;
	margin-right: 0px;
	
	border: 1px solid #555555;
}

div#container div#gallery img.first{
	margin-left: 45px;
}

div#container div#gallery img.last{
	margin-right: 0px;
}

/*Body Content*/
div#container div#content{
	width: 980px;
	margin: auto;
	overflow: hidden;
}

/*Left Sidebar - Affiliates*/
div#container div#content div#left{
	width: 200px;
	background-color: #464646;
	float: left;
	margin-bottom: 20px;
}

div#container div#content div#left div#affiliate{
	width: 160px;
	height: 600px;
	float: left;
	margin: 20px;
	
	background-color: #ffffff;
	background-image: url('../img/affiliate.png');
}

/*Right Content*/
div#container div#content div#right{
	width: 760px;
	float: right;
	margin-bottom: 20px;
}

div#container div#content div#right div#posts{
	width: 760px;
	float: left;
}

div#container div#content div#right div.post{
	width: 760px;
	background-color: #464646;
	float: left;
	margin-bottom: 20px;
}

div#container div#content div#right div.post div.inner{
	width: 720px;
	background-color: #555555;
	float: left;
	margin: 20px;
}

div#container div#content div#right div.post div.inner div.title{
	width: 700px;
	font-family: "Copperplate Gothic", serif;
	font-size: 18px;
	line-height: 22px;
	float: left;
	margin: 10px;
	margin-bottom: 0px;
}

div#container div#content div#right div.post div.inner div.title.fanclub{
	font-size: 30px;
	line-height: 32px;
}

div#container div#content div#right div.post div.inner div.time{
	width: 700px;
	font-family: "Bookman Old", serif;
	font-size: 12px;
	float: left;
	margin-left: 12px;
	margin-right: 10px;
}

div#container div#content div#right div.post div.inner div.image{
	width: 680px;
	font-family: "Bookman Old", serif;
	font-size: 16px;
	line-height: 20px;
	float: left;
	margin: 20px;
	margin-bottom: 0px;
}

div#container div#content div#right div.post div.inner div.text{
	width: 680px;
	font-family: "Bookman Old", serif;
	font-size: 16px;
	line-height: 20px;
	float: left;
	margin: 20px;
}

div#container div#content div#right div.post div.inner div#join{
	width: 675px;
	float: left;
	margin-left: 22px;
	margin-right: 22px;
}

div#container div#content div#right div.post div.inner div#form{
	width: 680px;
	float: left;
	margin: 20px;
	margin-top: 0px;
	
	line-height: 35px;
}

div#container div#content div#right div.post div.inner div#form form input.join{
	clear: both;
	float: left;
	margin: auto;
	margin-top: 20px;
	margin-left: 275px;
}

div#container div#content div#right div.post div.inner div#form form input.back{
	clear: both;
	float: left;
	margin: auto;
	margin-left: 300px;
}

div#container div#content div#right div.post div.inner div#form div.block table{
	padding: 5px;
}

div#container div#content div#right div.post div.inner div#form div.block.first{
	height: 125px;
	float: left;
	margin-left: 30px;
	
	border-color: #6e6e6e;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	padding-right: 50px;
}

div#container div#content div#right div.post div.inner div#form div.block.last{
	float: left;
	margin-left: 50px;
}

div#container div#content div#right div.post div.inner div.text.fanclub{
	margin-top: 0px
}

/*Centered Content*/
div#container div#content div#center{
	width: 980px;
	float: right;
	margin-bottom: 20px;
}

div#container div#content div#center div#posts{
	width: 980px;
	float: left;
}

div#container div#content div#center div.post{
	width: 980px;
	background-color: #464646;
	float: left;
	margin-bottom: 20px;
}

div#container div#content div#center div.post div.inner{
	width: 940px;
	background-color: #555555;
	float: left;
	margin: 20px;
}

div#container div#content div#center div.post div.inner div.image{
	width: 300px;
	height: 400px;
	float: left;
	margin: 20px;
	
	border: 1px solid #6e6e6e;
}

div#container div#content div#center div.post div.inner div.title{
	width: 578px;
	font-family: "Copperplate Gothic", serif;
	font-size: 36px;
	line-height: 22px;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}

div#container div#content div#center div.post div.inner div.text{
	width: 550px;
	font-family: "Bookman Old", serif;
	font-size: 16px;
	line-height: 20px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
}

/*Gallery Body*/

div#container div#content div#center div.post div.inner div.gallery div.image{
	width: 290px;
	height: 410px;
	float: left;
	margin-top: 25px;
	margin-right: 20px;
}

div#container div#content div#center div.post div.inner div.gallery div.title{
	width: 588px;
	font-family: "Copperplate Gothic", serif;
	font-size: 24px;
	line-height: 22px;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}

div#container div#content div#center div.post div.inner div.gallery div.issue{
	width: 585px;
	font-family: "Copperplate Gothic", serif;
	font-size: 14px;
	line-height: 22px;
	float: right;
	margin-right: 20px;
}

div#container div#content div#center div.post div.inner div.gallery div.text{
	width: 585px;
	font-family: "Bookman Old", serif;
	font-size: 16px;
	line-height: 20px;
	float: right;
	margin-left: 0px;
	margin-right: 20px;
}

/*Footer*/
div#container div#footer{
	width: 1024px;
	overflow: hidden;
}

div#container div#footer div.block{
	height: 115px;
	
	float: left;
	margin: 30px;
	
	border-color: #343434;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	padding-right: 50px;
}

div#container div#footer div.block.first{
	margin-left: 80px;
}

div#container div#footer div.block.last{
	border: 0;
}

div#container div#footer div.block h3{
	font-family: "Copperplate Gothic", serif;
	color: #ebebeb;
}

div#container div#footer div.block ul{
	font-family: Georgia, serif;
	font-size: 12px;
	color: #acacac;
	line-height: 25px;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

div#container div#footer div.block ul li:hover{
	list-style-type: disc;
}

div#container div#footer div.block ul li a{
	font-family: Georgia, serif;
	font-size: 12px;
	color: #acacac;
	text-decoration: none;
}











